#include "Base.xcconfig"

GO2CODEX_SETTINGS_BUNDLE_IDENTIFIER = io.github.czrzchao.go2codex
GO2CODEX_LAUNCHER_BUNDLE_IDENTIFIER = io.github.czrzchao.go2codex.launcher
GO2CODEX_DISPLAY_NAME = Go2Codex
GO2CODEX_SETTINGS_BUNDLE_NAME = Go2Codex
GO2CODEX_LAUNCHER_BUNDLE_NAME = Go2CodexLauncher
GO2CODEX_SETTINGS_PRODUCT_NAME = Go2Codex
GO2CODEX_LAUNCHER_PRODUCT_NAME = Go2CodexLauncher
GO2CODEX_PREFERENCES_DOMAIN = io.github.czrzchao.go2codex
SWIFT_COMPILATION_MODE = wholemodule
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_SERIALIZE_DEBUGGING_OPTIONS = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
GCC_GENERATE_DEBUGGING_SYMBOLS = NO
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
VALIDATE_PRODUCT = YES
ENABLE_CODE_COVERAGE = NO
CLANG_ENABLE_CODE_COVERAGE = NO
CLANG_COVERAGE_MAPPING_LINKER_ARGS = NO
GENERATE_PROFILING_CODE = NO
CODE_SIGN_INJECT_BASE_ENTITLEMENTS = NO
